body{
  background-color: black;
  text-align: center;
}
h1{
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: white;
}
a{
  font-family: Aquamarine;
  font-size: 16px;
}
h2{
  font-family: Verdana;
  color: white;
  font-weight: 300;
  font-size: 42px;
}
#styled_video_container{
  opacity: 0.6;
  transition: all 8s ease-in-out;

}
p{
  font-family: Verdana;
  font-size: 21px
  color: Gray;
}
image{
  position: center;
}
video{

}
